In [ ]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [9]:
my_data

[10, 20, 30]

In [11]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [14]:
arr

array([10, 20, 30])

In [15]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','Argentina','Italy'])

In [19]:
ser1

USA          1
Germany      2
Argentina    3
Italy        4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japon'])

In [21]:
ser2

USA        1
Germany    2
Italy      5
Japon      4
dtype: int64

In [22]:
ser1['USA']

1

In [23]:
ser2['Japon']

4

In [24]:
ser3 = pd.Series(data=labels)

In [25]:
ser3[0]

'a'

In [26]:
ser1 +

Argentina    NaN
Germany      4.0
Italy        9.0
Japon        NaN
USA          2.0
dtype: float64